@page "/Employees/Insert"
@inject IEmployeeRepository EmpRepository 

@code {
    Employee EmployeeModel { get; set; }
    List<string> Countries { get; set; }
    string Message { get; set; }

    protected override void OnInitialized()
    {
        EmployeeModel = new Employee();
        Countries = EmpRepository.SelectCountries();

    }

    private void OnSaveClick()
    {
        EmpRepository.Insert(EmployeeModel);
        Message = "Employee Inserted Successfully";
    }
}

<h2>Insert New Employee</h2>
<h3 class="text-danger">@Message</h3>

