@page "/Employees/Insert"
@inject IEmployeeRepository EmpRepository
@attribute [Authorize(Roles = "Manager")]

@code {
    Employee EmployeeModel { get; set; }
    List<string> Countries { get; set; }
    string Message { get; set; }

    protected override void OnInitialized()
    {
        EmployeeModel = new Employee();
        Countries = EmpRepository.SelectCountries();

    }

    private void OnSaveClick()
    {
        EmpRepository.Insert(EmployeeModel);
        Message = "Employee Inserted Successfully";
    }
}

<h2>Insert New Employee</h2>
<h3 class="text-danger">@Message</h3>

<EditForm Model="EmployeeModel" OnValidSubmit="OnSaveClick">
    <DataAnnotationsValidator></DataAnnotationsValidator>
    <table class="table">
        <tr>
            <td><label for="FirstName">First Name</label></td>
            <td>
                <InputText id="FirstName" @bind-Value="EmployeeModel.FirstName"></InputText>
                <ValidationMessage For="(() => EmployeeModel.FirstName)"></ValidationMessage>
            </td>
        </tr>
        <tr>
            <td><label for="LastName">Last Name</label></td>
            <td>
                <InputText id="LastName" @bind-Value="EmployeeModel.LastName"></InputText>
                <ValidationMessage For="(() => EmployeeModel.LastName)"></ValidationMessage>
            </td>
        </tr>
        <tr>
            <td><label for="Title">Title</label></td>
            <td>
                <InputText id="Title" @bind-Value="EmployeeModel.Title"></InputText>
                <ValidationMessage For="(() => EmployeeModel.Title)"></ValidationMessage>
            </td>

        </tr>
        <tr>
            <td><label for="BirthDate">Birth Date</label></td>
            <td>
                <InputDate id="BirthDate" @bind-Value="EmployeeModel.BirthDate"></InputDate>
                <ValidationMessage For="(() => EmployeeModel.BirthDate)"></ValidationMessage>
            </td>
        </tr>
        <tr>
            <td><label for="HireDate">Hire Date</label></td>
            <td>
                <InputDate id="HireDate" @bind-Value="EmployeeModel.HireDate"></InputDate>
                <ValidationMessage For="(() => EmployeeModel.HireDate)"></ValidationMessage>
            </td>
        </tr>
        <tr>
            <td><label for="Country">Country</label></td>
            <td>
                <InputSelect id="Country" @bind-Value="EmployeeModel.Country">
                    <option value="">Please Select</option>
                    @if (Countries != null)
                    {
                        foreach (var c in Countries)
                        {
                            <option value="@c">@c</option>
                        }
                    }
                </InputSelect>
                <ValidationMessage For="(() =>EmployeeModel.Country)"></ValidationMessage>
            </td>
        </tr>
        <tr>
            <td><label for="Notes">Notes</label></td>
            <td><InputTextArea id="Notes" @bind-Value="EmployeeModel.Notes"></InputTextArea></td>
            <ValidationMessage For="(() => EmployeeModel.Notes)"></ValidationMessage>
        </tr>
        <tr>
            <td colspan="2"><button class="btn btn-success" type="submit">Save</button></td>
        </tr>
    </table>
</EditForm>

<br />
<br />
<a href="/employees/list" class="btn btn-light btn-info">Back to Employee Listing</a>
