@page "/"
@page "/Employees/List"
<!-- this using could also be in _imports.razor -->
@using Microsoft.AspNetCore.WebUtilities
<!-- Inject a class, plus a name assigned to the property -->
@inject NavigationManager UriHelper
@inject IEmployeeRepository EmpRepository

<h3>List</h3>

@code {

}
