@inherits LayoutComponentBase

<main class="container-fluid">
    <h1>Employee Manager - Blazor Main Layout</h1>

    <hr />
    <div>
        @Body
    </div>

    <br />
    <hr />

    <AuthorizeView>
        <Authorized>
            <h2>You are signed in as @context.User.Identity.Name</h2>
            <a href="/security/signout" class="btn btn-link btn-warning">Sign Out</a>
        </Authorized>
    </AuthorizeView>
</main>

